$paleta: (
    main: #f58321,
    darkD: #c27737,
    lightD: #ff8114,
    blanco: #ffffff,
    negro: #000000,
    gris: rgba(171, 175, 179, 0.87),
);
$fuentes: (
    textos:'Nunito',
    textosS:'Frank Ruhl Libre',
    main: 'Noto Serif',
)