footer{
    background-color: map-get($paleta,main);
    border-top: 5px solid map-get($paleta,negro);
}
.footer{
    &-hb{
        margin-top: 10px;
        margin-bottom: 15px;
        font-family: map-get($fuentes,textos), sans-serif;
        font-weight: 200;
        width: 100%;
        color: map-get($paleta,gris);
        text-align: center;
        align-self: center;
        & img{
            height: 5rem;
            @include desktop{
                height: 8rem;
            }
        }
        & p{
            color: map-get($paleta,negro);
            font-size: 1rem;
            font-family: map-get($fuentes,textosS), serif;
            font-weight: 600;
            margin-top: 5px;
        }
      }
    &-contactos{
        margin-top: 10px;
        margin-bottom: 15px;
        grid-area: contacto;
        text-align: center;
        & h6{
            font-size: 1.5rem;
            font-family: map-get($fuentes,textos), sans-serif;
            font-weight: 600;
            text-align: center;
            @include desktop{
                font-size: 2rem;
            }
          }
        &-texto{
            & span {
                font-size: 1rem;
                font-family: map-get($fuentes,textos), sans-serif;
                font-weight: 600;
                @include desktop{
                    font-size: 1.5rem;
                }
            }
            & strong {
                font-size: .9rem;
                color: map-get($paleta,blanco);
              }
        }
      }
    &-derechos {
        color: map-get($paleta,blanco);
        text-align: center;
        background-color:map-get($paleta,negro);
        width: 100%;
        grid-area: derechos;
      }
}
.espaciador{
    height: 200px;
  }